body{
  background-color:#24273a;
  font-family:'Courier New', monospace;
  color:#8aadf4;
  font-weight:bolder;
  font-size:20vw;
  margin-left:auto;
  margin-right:auto;
  margin-top:auto;
  margin-bottom:auto;
  text-align:center;
}
