.container {
      display: grid;
      height: 100vh; /* Set the height of the grid container to the full viewport height */
      place-items: center; /* Center the grid items both horizontally and vertically */
    }
body{
  background-color:#24273a;
  font-family:'Courier New', monospace;
  color:#8aadf4;
  font-weight:bolder;
  font-size:20vw;
}
.center{
  text-align:center
}
